[Unit]
Description = clock daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type = simple
Restart=always
RestartSec=1
User=root
ExecStart = /usr/local/bin/clock.sh
ExecStop = /usr/local/bin/clock.sh
ExecReload = /usr/local/bin/clock.sh

[Install]
WantedBy=multi-user.target
